@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); */
body {
    background-image: url("../public/pics/istockphoto-533861572-612x612.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
  }

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
       margin: 0;
    }
    .font-roboto  {
        font-family: 'Times New Roman', Times, serif;
    }
    .input_Field{
        @apply border my-3 border-gray-300 text-gray-900  rounded-md  p-3  ring-offset-1 focus:ring dark:text-white dark:focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
    }
}